.row>div{
  margin-top: 5px;
}
.row{
  margin: 20px;
}

 
select{
  max-width: 300px;
  min-width: 300px;
  width: 300px !important;
}

input{
  width: 300px;
}

#leva{
  float:left;
  width: 67%;
}

#desna{
  float:right;
  width: 33%;
}


button {
    margin-left: 10px;
    border: none;
    color: white;
    padding: 4px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 23px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .dugme{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }

  .dugme:hover{
    background-color: #008CBA;
    color: white;
  }

  .dugmici{
    font-size: 12px;
    width: 200px;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }

  .dugmici:hover{
    background-color: #008CBA;
    color: white;
  }

  #stavkaPonude {
    border-style: solid;
     border-width: 2px;
    border-color:#008CBA;
    
  }

  #tabelaStavki {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 98%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
  }
  
  #tabelaStavki, #tabelaStavki td, #tabelaStavki th {
    border: 1px solid black;
    padding: 8px;
  }
  
  #tabelaStavki tr:nth-child(even){background-color: #f2f2f2;}
  
  #tabelaStavki tr:hover {background-color: #008CBA}
  
  #tabelaStavki th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#008CBA;
    color: white;
  }
  #tabelaStavki, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }


  .help-block { display: none; }
  input.ng-invalid.ng-touched{
    border: 1px solid red;
  }

