
.row.input-kupac{
  margin: 20px;
}


input{
  width: 300px;

}

select{
  max-width: 300px;
  min-width: 300px;
  width: 300px !important;
}
/*
select{
  size: 300%px;
}
*/
button{
  margin-left: 10px;
  border: none;
  color: white;
  padding: 4px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 23px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: auto;
}

.dugme{
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.dugme:hover{
  background-color: #008CBA;
  color: white;
}








/* button {
  margin-left: 10px;
  border: none;
  color: white;
  padding: 4px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 4px;
  margin-left: 19pt;
  margin-top: 8pt;
  transition-duration: 0.4s;
  cursor: pointer;
}




.potvrdi {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.potvrdi:hover {
  background-color: #008CBA;
  color: white;
}

.izmeni {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.izmeni:hover {
  background-color: #008CBA;
  color: white;
}

.obrisi {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.obrisi:hover {
  background-color: #008CBA;
  color: white;
}

.pronadji {
  width: 210px;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.pronadji:hover {
  background-color: #008CBA;
  color: white;
}

.novi {
  width: 210px;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.novi:hover {
  background-color: #008CBA;
  color: white;
}
  
*/

.help-block { display: none; }


input.ng-invalid.ng-touched{
  border: 1px solid red;
}